{% extends 'base.html' %}
{% block title %}Лента записей{% endblock %}
{% block content %}
<h1>Лента записей</h1>
<hr>
{% for information in posts %}
  <ul>
    <li>Место: {{ information.location }}</li>
    <li>Дата: {{ information.date }}</li>
    <li>Категория: <a href="{% url 'blog:category_posts' information.category %}">{{ information.category }}</a></li>
  </ul>
  <p>{{ information.text|truncatewords:10 }}</p>
  <a href="{% url 'blog:post_detail' information.id %}">Читать полный текст</a>
  {% if not forloop.last %}
  <hr>
  {% endif %}
{% endfor %}
{% endblock %}
